@use './variables';
@use './mixins';

.modal-navbar{
    &__background {
        @include mixins.modal-background;
        // height: 1000px;
        background-color: hsla(0deg, 0%, 0%, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;/*viewport width*/
        height: 100vh;/*viewport height*/
        z-index: 2;
    }
    background-color: variables.$White;
    width: 250px;
    height: 100vh;
    padding: 28px 24px;
    // display: none;
    &__items{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        list-style: none;
        margin-top: 50px;
    }
    &__link {
        text-decoration: none;
        color: variables.$Very-dark-blue;
        font-weight: 700;
        font-size: 1.1em;
    }
    &__close-icon:hover{
        cursor: pointer;
    }
}